svg(width="491" height="306" viewBox="0 0 491 306" fill="none" xmlns="http://www.w3.org/2000/svg").svgImg
  rect(width="491" height="306" )
  rect(x="99" y="110" width="294" height="87" rx="3" fill="var(--svgIconsBg)")
  rect(x="99" y="110" width="294" height="87" rx="3" stroke="var(--svglines)" stroke-width="2")
  rect.progressBr(x="99" y="110" width="294" height="87" rx="3" stroke="var(--svglines)" stroke-width="2")


  image(x="123" y="128" width="24" height="24" xlink:href="/img/icons/comp.svg")
  text(
    x="155"
    y="145"
    fill="var(--textColor)"
    font-size="18"
    font-family="DM Sans"
    font-weight="500"
    role="img"
    aria-label="Compound logo"
  ) Compound

  text(
    x="124"
    y="177"
    fill="var(--textColor)"
    font-family='DM Sans'
    font-weight="500"
    font-size="12"
  ) When APY on
  rect(x="217.5" y="160.5" width="59" height="23" rx="3.5" fill="var(--svgUsdcIconsBg)")
  rect(x="217.5" y="160.5" width="59" height="23" rx="3.5" stroke="var(--svgUsdcIconsBr)")
  image(x="225" y="165" width="12" height="12" xlink:href="/img/icons/usdc.svg" role="img" aria-label="USDC logo")
  text(
    x="240"
    y="175"
    fill="var(--textColor)"
    font-family='DM Sans'
    font-weight="500"
    font-size="12"
  ) USDC
  text(
    x="285"
    y="176"
    fill="var(--textColor)"
    font-family='DM Sans'
    font-weight="500"
    font-size="12"
  ) ≥ 5%

  text(
    x="338"
    y="126"
    fill="var(--textColor)"
    font-size="9"
    font-family='DM Sans'
    font-weight="500"
  ) CONDITION

  // Прямоугольники-карточки
  rect(x="2.5" y="25.5" width="229" height="55" rx="3.5" fill="var(--svgIconsBg)")
  rect(x="2.5" y="25.5" width="229" height="55" rx="3.5" stroke="var(--svglines)")
  rect(x="14" y="37" width="194" height="6" rx="3" fill="var(--svgConditionalIconsLine)")
  rect(x="14" y="50" width="77" height="6" rx="3" fill="var(--svgConditionalIconsLine)")
  rect(x="95" y="50" width="80" height="6" rx="3" fill="var(--svgConditionalIconsLine)")
  rect(x="14" y="63" width="120" height="6" rx="3" fill="var(--svgConditionalIconsLine)")

  rect(x="259.5" y="226.5" width="229" height="55" rx="3.5" fill="var(--svgIconsBg)")
  rect(x="259.5" y="226.5" width="229" height="55" rx="3.5" stroke="var(--svglines)")
  rect(x="271" y="238" width="194" height="6" rx="3" fill="var(--svgConditionalIconsLine)")
  rect(x="271" y="251" width="77" height="6" rx="3" fill="var(--svgConditionalIconsLine)")
  rect(x="352" y="251" width="80" height="6" rx="3" fill="var(--svgConditionalIconsLine)")
  rect(x="271" y="264" width="120" height="6" rx="3" fill="var(--svgConditionalIconsLine)")

  // Линии
  path(d="M27 81V103C27 130.614 49.3858 153 77 153H98" stroke="var(--svglines)" stroke-width="2" stroke-dasharray="4 4")
  path(d="M461 226V203C461 175.386 438.614 153 411 153H394" stroke="var(--svglines)" stroke-width="2" stroke-dasharray="4 4")
  path.line-left(d="M27 81V103C27 130.614 49.3858 153 77 153H98" stroke="var(--svglines)" stroke-width="2" stroke-dasharray="4 4")
  path.line-right(d="M461 226V203C461 175.386 438.614 153 411 153H394" stroke="var(--svglines)" stroke-width="2" stroke-dasharray="4 4")
  defs
    linearGradient#gradientLeft(x1="0%" y1="0%" x2="100%" y2="0%")
      stop(offset="0%" style="stop-color: var(--globalBr);")
      stop(offset="25%" style="stop-color: #7AE99D;")
      stop(offset="100%" style="stop-color: #7AE99D;")
    linearGradient#gradientRight(x1="0%" y1="0%" x2="100%" y2="0%")
      stop(offset="0%" style="stop-color: #7AE99D;")
      stop(offset="75%" style="stop-color: #7AE99D;")
      stop(offset="100%" style="stop-color: var(--globalBr);")
