svg(fill="none" height="643" viewBox="0 0 493 643" width="493" xmlns="http://www.w3.org/2000/svg").svgImg.layes
  path(d="M12 0.5H481C487.351 0.5 492.5 5.64873 492.5 12V631C492.5 637.351 487.351 642.5 481 642.5H12C5.64873 642.5 0.5 637.351 0.5 631V12C0.5 5.64873 5.64873 0.5 12 0.5Z" fill="var(--networkImgBg)")
  path(d="M12 0.5H481C487.351 0.5 492.5 5.64873 492.5 12V631C492.5 637.351 487.351 642.5 481 642.5H12C5.64873 642.5 0.5 637.351 0.5 631V12C0.5 5.64873 5.64873 0.5 12 0.5Z" stroke="var(--svglines)")

  rect(x="32" y="50" width="429" height="199" rx="4" fill="var(--networkImgItemBg)" stroke="var(--svglines)" stroke-dasharray="4 4")

  text(
    x="50"
    y="70"
    fill="var(--textColor)"
    font-size="10"
    font-family="DM Sans"
    font-weight="500"
    line-height="28"
  ) / ABSTRACTION LAYER

  image(x="64" y="205" width="28" height="28" xlink:href="/img/icons/uni.svg")
  image(x="64" y="166" width="28" height="28" xlink:href="/img/icons/pendle.svg")
  image(x="64" y="127" width="28" height="28" xlink:href="/img/icons/bitcoin.svg")
  image(x="148" y="205" width="28" height="28" xlink:href="/img/icons/fly.svg")
  image(x="232" y="205" width="28" height="28" xlink:href="/img/icons/uni.svg")
  image(x="232" y="166" width="28" height="28" xlink:href="/img/icons/aave.svg")
  image(x="232" y="127" width="28" height="28" xlink:href="/img/icons/property.svg")
  image(x="316" y="205" width="28" height="28" xlink:href="/img/icons/uni.svg")
  image(x="316" y="166" width="28" height="28" xlink:href="/img/icons/clock.svg")

  image(x="400" y="205" width="28" height="28" xlink:href="/img/icons/pendle.svg")
  image(x="400" y="166" width="28" height="28" xlink:href="/img/icons/property.svg")
  image(x="400" y="127" width="28" height="28" xlink:href="/img/icons/clock.svg")

  path(d="M247 309V309C247 293.282 234.307 280.514 218.59 280.421L90.0889 279.658C83.6774 279.62 78.5 274.412 78.5 268V268V248" stroke="var(--svglines)" stroke-width="2" stroke-dasharray="4 4")
  path(d="M246.5 429V429C246.5 444.718 233.807 457.486 218.09 457.579L89.5889 458.342C83.1774 458.38 78 463.588 78 470V470V489.5" stroke="var(--svglines)" stroke-width="2" stroke-dasharray="4 4")
  path(d="M247 429V429C247 444.718 259.693 457.486 275.41 457.579L403.911 458.342C410.323 458.38 415.5 463.588 415.5 470V470V489.5" stroke="var(--svglines)" stroke-width="2" stroke-dasharray="4 4")
  path(d="M247 309V309C247 293.277 234.312 280.5 218.59 280.39L174 280.077C167.912 280.034 163 275.088 163 269V269V248.5" stroke="var(--svglines)" stroke-width="2" stroke-dasharray="4 4")
  rect(x="32" y="309" width="429" height="120" rx="4" fill="var(--networkImgItemBg)" stroke="var(--svglines)" stroke-dasharray="4 4")
  path(d="M247 309V309C247 293.309 259.72 280.589 275.411 280.589H319.411C325.811 280.589 331 275.4 331 269V269V248.5" stroke="var(--svglines)" stroke-width="2" stroke-dasharray="4 4")
  path(d="M247 309V309C247 293.309 259.72 280.589 275.411 280.589L403.911 280.589C410.312 280.589 415.5 275.4 415.5 269V269V249" stroke="var(--svglines)" stroke-width="2" stroke-dasharray="4 4")
  path(d="M247 309L247 248.5" stroke="var(--svglines)" stroke-width="2" stroke-dasharray="4 4")

  rect(x="177.5" y="354.5" width="138" height="43" rx="3.5" fill="var(--networkImgBg)")
  rect(x="177.5" y="354.5" width="138" height="43" rx="3.5" stroke="var(--svglines)")

  text(
    x="50"
    y="330"
    fill="var(--textColor)"
    font-size="10"
    font-family="DM Sans"
    font-weight="500"
    line-height="28"
  ) / DITTO EXECUTION LAYER POS

  image(x="189" y="362" width="28" height="28" xlink:href="/img/icons/ditto-green.svg")

  text(
    x="225"
    y="380"
    fill="var(--textColor)"
    font-size="12"
    font-family="DM Sans"
    font-weight="400"
    line-height="28"
  ) Ditto Network

  rect(x="32" y="489" width="207" height="120" rx="4" fill="var(--networkImgItemBg)" stroke="var(--svglines)" stroke-dasharray="4 4")

  rect(x="77.5" y="539.5" width="116" height="43" rx="3.5" fill="var(--networkImgBg)")
  rect(x="77.5" y="539.5" width="116" height="43" rx="3.5" stroke="var(--svglines)")

  rect(x="254" y="489" width="207" height="120" rx="4" fill="var(--networkImgItemBg)" stroke="var(--svglines)" stroke-dasharray="4 4")

  rect(x="296.5" y="539.5" width="122" height="43" rx="3.5" fill="var(--networkImgBg)")
  rect(x="296.5" y="539.5" width="122" height="43" rx="3.5" stroke="var(--svglines)")

  text(
    x="50"
    y="510"
    fill="var(--textColor)"
    font-size="10"
    font-family="DM Sans"
    font-weight="500"
    line-height="28"
  ) / RESTAKING LAYER

  text(
    x="125"
    y="565"
    fill="var(--textColor)"
    font-size="12"
    font-family="DM Sans"
    font-weight="400"
    line-height="28"
  ) Symbiotic

  text(
    x="270"
    y="510"
    fill="var(--textColor)"
    font-size="10"
    font-family="DM Sans"
    font-weight="500"
    line-height="28"
  ) / RESTAKING LAYER

  text(
    x="344"
    y="565"
    fill="var(--textColor)"
    font-size="12"
    font-family="DM Sans"
    font-weight="400"
    line-height="28"
  ) EigenLayer

  image(x="89" y="547" width="28" height="28" xlink:href="/img/icons/symbiotic.svg")
  image(x="308" y="547" width="28" height="28" xlink:href="/img/icons/eigen.svg")
