svg(width="491" height="306" viewBox="0 0 491 306" fill="none" xmlns="http://www.w3.org/2000/svg").svgImg.module
  rect(width="491" height="306" )
  line(x1="220" y1="152" x2="318" y2="152" stroke="var(--svglines)" stroke-width="2")
  line.module-line-left(x1="269" y1="152" x2="220" y2="152" stroke="url(#gradientLineLeft)" stroke-width="2")

  line.module-line-right(x1="269" y1="152" x2="318" y2="152" stroke="url(#gradientLineRight)" stroke-width="2")

  // Левая панель
  rect(x="2.5" y="59.5" width="217" height="187" rx="3.5" fill="var(--svgIconsBg)")
  rect(x="2.5" y="59.5" width="217" height="187" rx="3.5" stroke="var(--svglines)")
  circle(cx="12.5" cy="71.5" r="2.5" fill="var(--svglines)")
  circle(cx="19.5" cy="71.5" r="2.5" fill="var(--svglines)")
  circle(cx="26.5" cy="71.5" r="2.5" fill="var(--svglines)")

  image.codeLight(x="10.5" y="88.5" width="202.35" height="142" xlink:href="/img/icons/svgModuleCodeSrc.svg")
  image.codeDark(x="10.5" y="88.5" width="202.35" height="142" xlink:href="/img/icons/svgModuleCodeSrcDark.svg")

  // Правая карточка с текстом
  rect(x="317.5" y="128.5" width="171" height="49" rx="3.5" fill="var(--svgIconsBg)")
  rect(x="317.5" y="128.5" width="171" height="49" rx="3.5" stroke="var(--svglines)")

  g.icon-box(transform="translate(330, 141)")
    svg(width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg")
      path(
        d="M4 8.23607C4 7.47852 4.428 6.786 5.10557 6.44721L11.1056 3.44721C11.6686 3.16569 12.3314 3.16569 12.8944 3.44721L18.8944 6.44721C19.572 6.786 20 7.47852 20 8.23607V15.7639C20 16.5215 19.572 17.214 18.8944 17.5528L12.8944 20.5528C12.3314 20.8343 11.6686 20.8343 11.1056 20.5528L5.10557 17.5528C4.428 17.214 4 16.5215 4 15.7639V8.23607Z"
        fill="var(--svgUsdcIconsBr)"
        stroke="var(--textColor)"
        stroke-width="1.5"
      )
      path(
        d="M19.5 7.5L12 11M12 11V20.5M12 11L4.5 7.5"
        stroke="var(--textColor)"
        stroke-width="1.5"
        stroke-linecap="square"
        stroke-linejoin="round"
      )

  text(
    x="360"
    y="159"
    fill="var(--textColor)"
    font-size="18"
    font-family='DM Sans'
    font-weight="500"
  ) TWAP Module

  // Центральный круг
  rect(x="238" y="122" width="62" height="62" rx="31" fill="var(--svgIconsBg)")
  rect(x="238" y="122" width="62" height="62" rx="31" stroke="var(--svglines)" stroke-width="2")
  // Анимация градиентного кольца сверху
  rect.module-circle(x="238" y="122" width="62" height="62" rx="31" stroke="#7AE99D" stroke-width="2")
  g.icon-ditto(transform="translate(256, 140)")
    svg(width="24" height="24" viewBox="0 0 26 25" fill="none" xmlns="http://www.w3.org/2000/svg")
    path(d="M9.40618 19.321C9.39405 19.321 9.41831 19.321 9.40618 19.321L16.2074 19.3211C21.4224 19.3211 25.65 14.9814 25.65 9.62823C25.65 4.68755 22.0393 0.610252 17.3829 0.0111829C16.675 -0.0798902 16.0352 0.394945 15.7938 1.08409L14.2708 5.43282H16.2074C18.4646 5.43282 20.2945 7.31117 20.2945 9.62823C20.2945 11.9453 18.4646 13.8236 16.2074 13.8236H12.5209C11.8075 13.8236 11.1708 14.2832 10.9294 14.9723L9.40618 19.321Z", fill="var(--svgditto)")
    path(d="M14.2708 5.43282H9.44258C4.22759 5.43282 0 9.77245 0 15.1257C0 19.2876 2.55534 22.8368 6.14335 24.2104C6.93046 24.5117 7.75971 24.0216 8.04394 23.2101L9.40618 19.321C7.16569 19.3009 5.35549 17.4303 5.35549 15.1257C5.35549 12.8086 7.18534 10.9302 9.44258 10.9302H11.1561C11.8695 10.9302 12.5061 10.4707 12.7475 9.7816L14.2708 5.43282Z", fill="var(--svgditto)")
  linearGradient#gradientLineLeft(x1="220" y1="152" x2="318" y2="152" gradientUnits="userSpaceOnUse")
    stop(offset="0%" stop-color="var(--globalBr)")
    stop(offset="25%" stop-color="#7AE99D")
    stop(offset="100%" stop-color="#7AE99D")
  linearGradient#gradientLineRight(x1="269" y1="152" x2="318" y2="152" gradientUnits="userSpaceOnUse")
    stop(offset="0%" stop-color="#7AE99D")
    stop(offset="75%" stop-color="#7AE99D")
    stop(offset="100%" stop-color="var(--globalBr)")

