svg(width="491" height="306" viewBox="0 0 491 306" fill="none" xmlns="http://www.w3.org/2000/svg").svgImg.security
  defs
    linearGradient#paint0(x1="-4" y1="157" x2="-130.5" y2="157" gradientUnits="userSpaceOnUse")
      stop(offset="0" stop-color="var(--bgColor)")
      stop(offset="1" stop-color="var(--bgColor)" stop-opacity="0")
    linearGradient#paint1(x1="-3.99999" y1="157" x2="70" y2="156.998" gradientUnits="userSpaceOnUse")
      stop(offset="0" stop-color="var(--bgColor)")
      stop(offset="0.856551" stop-color="var(--svgSecurityIconsBr)")
    linearGradient#paint2(x1="629.5" y1="157" x2="480" y2="157" gradientUnits="userSpaceOnUse")
      stop(offset="0" stop-color="var(--bgColor)" stop-opacity="0")
      stop(offset="1" stop-color="var(--bgColor)")
    linearGradient#paint3(x1="442" y1="156.998" x2="497" y2="156.998" gradientUnits="userSpaceOnUse")
      stop(offset="0" stop-color="var(--svgSecurityIconsBr)")
      stop(offset="1" stop-color="var(--bgColor)")
    clipPath#clip0
      rect(width="491" height="306" fill="var(--svgIconsBg)")

  g(clip-path="url(#clip0)")
    rect(width="491" height="306" fill="transparent")
    // Центр
    path.center-shape(
      d="M156.921 71.9997L113.984 88.1698C104.088 91.8682 96 103.566 96 114.059V177.965C96 188.114 102.712 201.446 110.886 207.553L147.886 235.162C160.019 244.279 179.981 244.279 192.114 235.162L229.114 207.553C237.288 201.446 244 188.114 244 177.965V114.059C244 103.48 235.912 91.7822 226.016 88.0838L183.079 71.9997C175.765 69.3334 164.063 69.3334 156.921 71.9997Z"
      fill="var(--svgIconsBg)" stroke="var(--svgSecurityIconsBr)" stroke-linecap="round" stroke-linejoin="round"
    )
    //inner icon
    path.eigen(d="M160.039 125.6V165.802H166.354V152.741H171.835V134.177H166.354V125.6H181.11V139.032H186.197V125.6H195V141.032H188.197V154.741H173.835V165.802H187.252V180.4H145V125.6H160.039Z" stroke="var(--svgSecurityIconsBr)" stroke-width="2")

    // Левый градиентный
    path(
      d="M-17.0791 72.9997L-60.0163 89.1698C-69.9116 92.8682 -78 104.566 -78 115.059V178.965C-78 189.114 -71.2884 202.446 -63.114 208.553L-26.114 236.162C-13.9814 245.279 5.98139 245.279 18.1139 236.162L55.1139 208.553C63.2884 202.446 70 189.114 70 178.965V115.059C70 104.48 61.9116 92.7822 52.0163 89.0838L9.07906 72.9997C1.76511 70.3334 -9.93722 70.3334 -17.0791 72.9997Z"
      fill="url(#paint0)" stroke="url(#paint1)" stroke-linecap="round" stroke-linejoin="round"
    )

    // Правый белый блок
    path.right-shape(
      d="M329.921 71.9997L286.984 88.1698C277.088 91.8682 269 103.566 269 114.059V177.965C269 188.114 275.712 201.446 283.886 207.553L320.886 235.162C333.019 244.279 352.981 244.279 365.114 235.162L402.114 207.553C410.288 201.446 417 188.114 417 177.965V114.059C417 103.48 408.912 91.7822 399.016 88.0838L356.079 71.9997C348.765 69.3334 337.063 69.3334 329.921 71.9997Z"
      fill="var(--svgIconsBg)" stroke="var(--svgSecurityIconsBr)" stroke-linecap="round" stroke-linejoin="round"
    )

    //inner icon

    path.symbiotic(d="M370 126V133.867H324.019V142.037H370V181H316V172.938H362.475V165.354H316V126H370ZM324.019 157.487H362.475V149.22H324.019V157.487Z" stroke="var(--svgSecurityIconsBr)" stroke-width="2")

    // Правый градиентный
    path(
      d="M502.921 72.9997L459.984 89.1698C450.088 92.8682 442 104.566 442 115.059V178.965C442 189.114 448.712 202.446 456.886 208.553L493.886 236.162C506.019 245.279 525.981 245.279 538.114 236.162L575.114 208.553C583.288 202.446 590 189.114 590 178.965V115.059C590 104.48 581.912 92.7822 572.016 89.0838L529.079 72.9997C521.765 70.3334 510.063 70.3334 502.921 72.9997Z"
      fill="url(#paint2)" stroke="url(#paint3)" stroke-linecap="round" stroke-linejoin="round"
    )
    linearGradient#paint1_linear_33752_32916(x1="208.5" y1="224" x2="107.5" y2="95" gradientUnits="userSpaceOnUse")
      stop(offset="0.100219" stop-color="var(--svgSecurityIconsGr1)")
      stop(offset="0.455364" stop-color="var(--svgSecurityIconsGr2)")
      stop(offset="0.856934" stop-color="var(--svgSecurityIconsGr1)")
    linearGradient#paint4_linear_33752_32916(x1="381.5" y1="224" x2="280.5" y2="95" gradientUnits="userSpaceOnUse")
      stop(offset="0.100219" stop-color="var(--svgSecurityIconsGr1)")
      stop(offset="0.455364" stop-color="var(--svgSecurityIconsGr2)")
      stop(offset="0.856934" stop-color="var(--svgSecurityIconsGr1)")
