svg(width="491" height="306" viewBox="0 0 491 306" fill="none" xmlns="http://www.w3.org/2000/svg").sign
  g(clip-path="url(#clip0_8_11208)")
    rect(width="491" height="306")
    rect(x="11" y="139" width="101" height="27" fill="url(#paint0_linear_8_11208)" fill-opacity="0.1")

    //линии слева

    line(x1="-11" y1="138" x2="115" y2="138" stroke="url(#paint1_linear_8_11208)" stroke-width="2")
    line(x1="-11" y1="166" x2="112" y2="166" stroke="url(#paint2_linear_8_11208)" stroke-width="2")

    //стрелка
    path(d="M83.6667 148.667L87 152M83.6667 155.333L87 152M87 152H79" stroke="#1F3526" stroke-linecap="round" stroke-linejoin="round")

    //справа сверху

    path.line(d="M398.5 82H270.089C257.496 82 245.366 86.752 236.124 95.3064L204.376 124.694C195.134 133.248 183.004 138 170.411 138H109" stroke="#DEE2E6" stroke-width="2")
    path.line-fill.line-fill_top(
      d="M109 138H170.411C183.004 138 195.134 133.248 204.376 124.694L236.124 95.3064C245.366 86.752 257.496 82 270.089 82H398.5"
      stroke="url(#lineFadeTop)"
      stroke-width="2"
      stroke-dasharray="400"
      stroke-dashoffset="400"
    )

    image(x="364" y="60" width="98" height="48" xlink:href="/img/icons/aave.svg")

    //справа центр

    line.line(x1="158" y1="152" x2="404" y2="152" stroke="#DEE2E6" stroke-width="2")
    line.line-fill.line-fill_center(
      x1="158" y1="152" x2="404" y2="152"
      stroke="url(#lineFadeCenter)"
      stroke-width="2"
      stroke-dasharray="246"
      stroke-dashoffset="246"
    )

    image(x="355" y="128" width="107" height="48" xlink:href="/img/icons/curve.svg")

    //справа снизу

    path.line(d="M369 225H273.99C260.869 225 248.273 219.842 238.92 210.638L208.155 180.362C198.802 171.158 186.206 166 173.084 166H111" stroke="#DEE2E6" stroke-width="2")
    path.line-fill.line-fill_bottom(
      d="M111 166H173.084C186.206 166 198.802 171.158 208.155 180.362L238.92 210.638C248.273 219.842 260.869 225 273.99 225H369"
      stroke="url(#lineFadeBottom)"
      stroke-width="2"
      stroke-dasharray="400"
      stroke-dashoffset="400"
    )
    image(x="334" y="200" width="128" height="48" xlink:href="/img/icons/uni.svg")

    // Нижний градиентный круг
    circle.bg(
      cx="141" cy="153"
      r="35"
      fill="white"
      stroke="url(#paint3_linear_8_11208)"
      stroke-width="2"
    )


    // 2. Верхняя половина зелёной обводки
    circle.top(
      cx="141" cy="153"
      r="35"
      fill="transparent"
      stroke="#7AE99D"
      stroke-width="2"
      stroke-dasharray="110 110"
      stroke-dashoffset="110"
      transform="rotate(-90 141 153)"
    )

    // 3. Нижняя половина зелёной обводки
    circle.bottom(
      cx="141" cy="153"
      r="35"
      fill="transparent"
      stroke="#7AE99D"
      stroke-width="2"
      stroke-dasharray="110 110"
      stroke-dashoffset="220"
      transform="rotate(90 141 153)"
    )


    //центр лого
    image(x="129" y="140" width="24" height="24" xlink:href="/img/icons/ditto.svg")

  defs
    linearGradient#paint0_linear_8_11208(x1="11" y1="152.5" x2="106.319" y2="152.5" gradientUnits="userSpaceOnUse")
      stop(stop-color="#F8F9FA")
      stop(offset="0.5" stop-color="#86FAAA")
    linearGradient#paint1_linear_8_11208(x1="-11" y1="139" x2="148.05" y2="137.13" gradientUnits="userSpaceOnUse")
      stop(offset="0.127762" stop-color="#F8F9FA")
      stop(offset="1" stop-color="#7AE99D")

    linearGradient#paint2_linear_8_11208(x1="-11" y1="167" x2="144.264" y2="165.218" gradientUnits="userSpaceOnUse")
      stop(offset="0.127762" stop-color="#F8F9FA")
      stop(offset="1" stop-color="#7AE99D")

    linearGradient#paint3_linear_8_11208(x1="177" y1="153" x2="105" y2="153" gradientUnits="userSpaceOnUse")
      stop(stop-color="#DEE2E6")
      stop(offset="1" stop-color="#86E8A6")

    clipPath#clip0_8_11208
      rect(width="491" height="306" fill="white")

    // верхняя кривая — справа сверху
    linearGradient#lineFadeTop(x1="109" y1="138" x2="398.5" y2="82" gradientUnits="userSpaceOnUse")
      stop(offset="0" stop-color="#7AE99D")
      stop(offset="1" stop-color="rgba(122, 233, 157, 0)")

    // центральная линия
    linearGradient#lineFadeCenter(x1="158" y1="152" x2="404" y2="152" gradientUnits="userSpaceOnUse")
      stop(offset="0" stop-color="#7AE99D")
      stop(offset="1" stop-color="rgba(122, 233, 157, 0)")

    // нижняя кривая — снизу справа
    linearGradient#lineFadeBottom(x1="111" y1="166" x2="369" y2="225" gradientUnits="userSpaceOnUse")
      stop(offset="0" stop-color="#7AE99D")
      stop(offset="1" stop-color="rgba(122, 233, 157, 0)")
