svg(width="491" height="306" viewBox="0 0 491 306" fill="none" xmlns="http://www.w3.org/2000/svg").svgImg
  rect(width="491" height="306" fill="var(--bgColor)")

  rect(x="2.5" y="34.5" width="189" height="109" rx="3.5" fill="var(--svgIconsBg)")
  rect(x="2.5" y="34.5" width="189" height="109" rx="3.5" stroke="var(--svglines)")
  rect.progressBr(x="2.5" y="34.5" width="189" height="109" rx="3.5" stroke="var(--svglines)")

  image(x="34.5" y="66" width="48" height="48" xlink:href="/img/icons/python.svg")

  text(
    x="95"
    y="95"
    fill="var(--textColor)"
    font-size="18"
    font-weight="500"
    font-family='DM Sans'
  ) Python

  rect(x="210.5" y="34.5" width="189" height="109" rx="3.5" fill="var(--svgIconsBg)")

  rect(x="210.5" y="34.5" width="189" height="109" rx="3.5" stroke="var(--svglines)")

  rect.progressBr(x="210.5" y="34.5" width="189" height="109" rx="3.5" stroke="var(--svglines)")

  image(x="231" y="66" width="48" height="48" xlink:href="/img/icons/js.svg")

  text(
    x="291"
    y="95"
    fill="var(--textColor)"
    font-size="18"
    font-weight="500"
    font-family='DM Sans'
  ) JavaScript


  rect(x="2.5" y="196.5" width="189" height="109" rx="3.5" fill="var(--svgIconsBg)")

  rect(x="2.5" y="196.5" width="189" height="109" rx="3.5" stroke="var(--svglines)")

  rect.progressBr(x="2.5" y="196.5" width="189" height="109" rx="3.5" stroke="var(--svglines)")

  image(x="34.5" y="227" width="48" height="48" xlink:href="/img/icons/go.svg")

  text(
    x="95"
    y="257"
    fill="var(--textColor)"
    font-size="18"
    font-weight="500"
    font-family='DM Sans'
  ) Golang



  rect(x="210.5" y="196.5" width="189" height="109" rx="3.5" fill="var(--svgIconsBg)")

  rect(x="210.5" y="196.5" width="189" height="109" rx="3.5" stroke="var(--svglines)")

  rect.progressBr(x="210.5" y="196.5" width="189" height="109" rx="3.5" stroke="var(--svglines)")


  image(x="256.5" y="228" width="48" height="48" xlink:href="/img/icons/rust.svg")


  text(
    x="316.5"
    y="257"
    fill="var(--textColor)"
    font-size="18"
    font-weight="500"
    font-family='DM Sans'
  ) Rust
