section.blog
  .blog__content.wow.bounceInUp(data-wow-delay="0.2s")
    h2.blog__title Learn more about us. Explore our blog and documents
    .blog__btns
      a.btn.btn_primary(href=process.env.LINK_DITTO_BUILD target="_blank")
        | Start Building
        +icon('arrow')
      a.btn.btn_secondary(href=process.env.LINK_RESTAKE target="_blank")
        | Become a Restaker
  ul.blog-list
    li.blog-list__item.wow.bounceInUp(data-wow-delay="0.2s")
      a.blog-list__link(href=process.env.LINK_BLOG target="_blank")
        span.blog-list__history / Blog
        .blog-list__content
          span.blog-list__title A New Chapter: Ditto’s Deployment on Symbiotic
          span.blog-list__text We are thrilled to announce that Ditto Network is among the first protocols to deploy on Symbiotic's mainnet...
    li.blog-list__item.wow.bounceInUp(data-wow-delay="0.2s")
      a.blog-list__link(href=process.env.LINK_BLOG target="_blank")
        span.blog-list__history / Blog
        .blog-list__content
          span.blog-list__title A New Chapter: Ditto’s Deployment on Symbiotic
          span.blog-list__text We are thrilled to announce that Ditto Network is among the first protocols to deploy on Symbiotic's mainnet...
    li.blog-list__item.wow.bounceInUp(data-wow-delay="0.2s")
      a.blog-list__link(href=process.env.LINK_BLOG target="_blank")
        span.blog-list__history / Blog
        .blog-list__content
          span.blog-list__title A New Chapter: Ditto’s Deployment on Symbiotic
          span.blog-list__text We are thrilled to announce that Ditto Network is among the first protocols to deploy on Symbiotic's mainnet...

    li.blog-list__item.wow.bounceInUp(data-wow-delay="0.2s")
      a.blog-list__link(href=process.env.LINK_BLOG target="_blank")
        span.blog-list__history / Docs
        .blog-list__content
          span.blog-list__title A New Chapter: Ditto’s Deployment on Symbiotic
          span.blog-list__text We are thrilled to announce that Ditto Network is among the first protocols to deploy on Symbiotic's mainnet...
    li.blog-list__item.wow.bounceInUp(data-wow-delay="0.2s")
      a.blog-list__link(href=process.env.LINK_BLOG target="_blank")
        span.blog-list__history / Docs
        .blog-list__content
          span.blog-list__title About Ditto
          span.blog-list__text Ditto Network is a decentralized protocol designed to run intent-driven automations and event-driven workflows...
    li.blog-list__item.wow.bounceInUp(data-wow-delay="0.2s")
      a.blog-list__link(href=process.env.LINK_BLOG target="_blank")
        span.blog-list__history / Docs
        .blog-list__content
          span.blog-list__title Loyalty Points Program for Ditto Network
          span.blog-list__text Ditto Network is launching a Loyalty Points Program to reward early adopters, incentivize vault curators...



