section.blog
  .blog__content
    h2.blog__title Learn more about how Ditto Network can serve you.
    .blog__btns
      a.btn.btn_secondary(href=process.env.LINK_DOCS target="_blank")
        | Go to Docs
        +icon('arrow')
      a.btn.btn_primary(href=process.env.LINK_BLOG target="_blank")
        | Read the Blog
  ul.blog-list
    li.blog-list__item
      a.blog-list__link(href=process.env.LINK_BLOG target="_blank")
        span.blog-list__history / Docs
        .blog-list__content
          span.blog-list__title About Ditto
          span.blog-list__text Ditto Network is a decentralized protocol designed to run intent-driven automations and event-driven workflows...
    li.blog-list__item
      a.blog-list__link(href=process.env.LINK_BLOG target="_blank")
        span.blog-list__history / Docs
        .blog-list__content
          span.blog-list__title Loyalty Points Program for Ditto Network
          span.blog-list__text Ditto Network is launching a Loyalty Points Program to reward early adopters, incentivize vault curators...
    li.blog-list__item
      a.blog-list__link(href=process.env.LINK_BLOG target="_blank")
        span.blog-list__history / Docs
        .blog-list__content
          span.blog-list__title Operator registration on Symbiotic
          span.blog-list__text To become an operator in Symbiotic, you need to register in Symbiotic protocol...
    li.blog-list__item
      a.blog-list__link(href=process.env.LINK_BLOG target="_blank")
        span.blog-list__history / Blog
        .blog-list__content
          span.blog-list__title A New Chapter: Ditto’s Deployment on Symbiotic
          span.blog-list__text We are thrilled to announce that Ditto Network is among the first protocols to deploy on Symbiotic's mainnet...
    li.blog-list__item
      a.blog-list__link(href=process.env.LINK_BLOG target="_blank")
        span.blog-list__history / Blog
        .blog-list__content
          span.blog-list__title A New Chapter: Ditto’s Deployment on Symbiotic
          span.blog-list__text We are thrilled to announce that Ditto Network is among the first protocols to deploy on Symbiotic's mainnet...
    li.blog-list__item
      a.blog-list__link(href=process.env.LINK_BLOG target="_blank")
        span.blog-list__history / Blog
        .blog-list__content
          span.blog-list__title A New Chapter: Ditto’s Deployment on Symbiotic
          span.blog-list__text We are thrilled to announce that Ditto Network is among the first protocols to deploy on Symbiotic's mainnet...



