section.cta
  h2.cta__title Start executing with Ditto SDK today.
    br
    | What will you build next?
  ul.cta-list
    li.cta-list__item
      a.btn.btn_gradient(href=process.env.LINK_DITTO_BUILD target="_blank")
        span.gradient
        span.text
          | Repeated Transactions
          +icon('arrow')
    li.cta-list__item
      a.btn.btn_secondary(href=process.env.LINK_RESTAKE target="_blank")
        | Asset &amp; Vault Mgmt
    li.cta-list__item
      a.btn.btn_secondary(href=process.env.LINK_RESTAKE target="_blank")
        | Free Management
    li.cta-list__item
      a.btn.btn_secondary(href=process.env.LINK_RESTAKE target="_blank")
        | Smart Wallets &amp; DeFi
    li.cta-list__item
      a.btn.btn_secondary(href=process.env.LINK_RESTAKE target="_blank")
        | No-Code Automation
    li.cta-list__item
      a.btn.btn_secondary(href=process.env.LINK_RESTAKE target="_blank")
        | AI Agents Backend



