//footer
footer.footer
  .footer__block
    .container
      .footer__top
        a.footer__link(href=process.env.MAIN_LINK) logo ditto
          +icon('ditto', '', 'Ditto Network logo')
        .footer__linksblockWrap
          .footer__linksblock
            span.footer__title Participate
            ul.footer-linklist
              li.footer-linklist__item
                a.footer-linklist__link(href=process.env.LINK_ACCOUNT_SDK target="_blank") Developers
              li.footer-linklist__item
                a.footer-linklist__link(href=process.env.LINK_OPERATORS_FORM target="_blank") Executors
              li.footer-linklist__item
                a.footer-linklist__link(href=process.env.LINK_RESTAKE target="_blank") Restakers

          .footer__linksblock
            span.footer__title Solutions
            ul.footer-linklist
              li.footer-linklist__item
                a.footer-linklist__link(href=process.env.LINK_VAULT_MANAGEMENT target="_blank") Vault Management
              li.footer-linklist__item
                a.footer-linklist__link(href=process.env.LINK_TRADING target="_blank") Trading
              li.footer-linklist__item
                a.footer-linklist__link(href=process.env.LINK_AI_AGENTS target="_blank") AI Agents
              li.footer-linklist__item
                a.footer-linklist__link(href=process.env.LINK_DEFI target="_blank") DeFi
              li.footer-linklist__item
                a.footer-linklist__link(href=process.env.LINK_ENTERPRISE target="_blank") Enterprise

          .footer__linksblock
            span.footer__title Resources
            ul.footer-linklist
              li.footer-linklist__item
                a.footer-linklist__link(href=process.env.LINK_BLOG target="_blank") Blog
              li.footer-linklist__item
                a.footer-linklist__link(href=process.env.LINK_BLOG target="_blank") Community
              li.footer-linklist__item
                a.footer-linklist__link(href=process.env.LINK_DOCS target="_blank") Documentation
              li.footer-linklist__item
                a.footer-linklist__link(href=process.env.LINK_TERMS_CONDITIONS target="_blank") Terms and Conditions
              li.footer-linklist__item
                a.footer-linklist__link(href=process.env.LINK_PRIVACY_POLICY target="_blank") Privacy Policy

          .footer__linksblock
            span.footer__title Social
            ul.footer-linklist
              li.footer-linklist__item
                a.footer-linklist__link(href=process.env.SOC_TWITTER target="_blank")
                  +icon('x', '', 'Twitter logo')
                  | Twitter
              li.footer-linklist__item
                a.footer-linklist__link(href=process.env.SOC_GITHUB target="_blank")
                  +icon('git', '', 'GitHub logo')
                  | GitHub
              li.footer-linklist__item
                a.footer-linklist__link(href=process.env.SOC_DISCORD target="_blank")
                  +icon('discord', '', 'Discord logo')
                  | Discord
              li.footer-linklist__item
                a.footer-linklist__link(href=process.env.SOC_MEDIUM target="_blank")
                  +icon('medium', '', 'Medium logo')
                  | Medium
  .footer__block
    .container
      .footer__bottom
        p.copy &copy; 2025 Ditto. All rights reserved.
        .btn-theme
          button.btn-theme__dark(data-set='dark') dark
            +icon('dark')
          button.btn-theme__light(data-set='light') light
            +icon('light')
          button.btn-theme__default.active(data-set='light') default
            +icon('pc')

